[Unit]
Description=Restart gridsecurity.service daily

[Timer]
OnCalendar=daily
Persistent=true
Unit=gridsecurity-restart.service

[Install]
WantedBy=timers.target

